{% extends "base.html" %}

{% block app_content %}
<h1>{{ _('Messages') }}</h1>
    {% for post in messages %}
        {% include "_post.html" %}
    {% endfor %}
    <nav aria-label="...">  <!--nav一般用作导航，可以链接到页面的其他部分，这里没有实现链接到导航部分-->
        <!-- aria-label 和下方的 aria-hidden 是为辅助设备提供的，避免混淆，其实不用理睬-->
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span>{{ _('Newer messages') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older messages') }}<span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}